<div>
   
    <h1><center>Welcome back <%=name%>...</center></h1>
    <h2><center>to the 'Local Doings' for <%=postcode%></center></h2>
    <div id = accMessages>
        <%- include('../views/partials/successMessages.ejs') %>
        <%- include('../views/partials/errorMessages.ejs') %>
    </div>
    <hr>
   
<div id="userPage">
    <div id="wrapper">
        <div>
            <p>Check 'Posts' you have created and choose to either edit or delete.</p><hr>
            <a href="/postList" class="btn btn-success btn-md">Posts <i class="fas fa-bullhorn" ></i></a></div>

        <div>
            <p>Check 'Swaps' you have created and choose to either edit or delete.</p><hr>
            <a href="/swapList" class="btn btn-success btn-md">Swaps <i class="fas fa-shopping-basket" ></i></a></div>

        <div>
            <p>Check 'Messages' you have recieved from other users.</p><hr>
            <a href="/messageList"  class="btn btn-success btn-md">Messages <i class="far fa-envelope"></i></a></div>

        <div>
            <p>Write a message to another user or the admin directly.</p><hr>
            <a href="/contactUser"  class="btn btn-success btn-md">Contact <i class="far fa-address-book"></i></a></div>
    </div>
</div>    

</div> 
