<div>
   
  

    <h1><center>This page exists, because it can...Welcome back </center></h1>


    <a href="/postList" class="btn btn-success btn-md"><i class="fas fa-user"></i> Check Posts</a>
    <a href="/commentList" class="btn btn-success btn-md"><i class="fas fa-user"></i> Check Comments</a>
    

</div> 