<div>
   
  

    <h1><center>Welcome back <%=name%>...</center></h1>
    <h2><center>to the 'Local Doings' for <%=postcode%></center></h2><hr>

<div id="userPage">
    <a href="/postList" class="btn btn-success btn-md"><i class="fas fa-user"></i> Check Posts</a>
    <a href="/commentList" class="btn btn-success btn-md"><i class="fas fa-user"></i> Check Comments</a>
    <a href="/swapList" class="btn btn-success btn-md"><i class="fas fa-user"></i> Check Swaps</a>
</div>    

</div> 