<div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1><center>This page exists, because it can...Welcome back <%= name %></center></h1>
<a href="/logout" class="btn btn-secondary">Logout</a>
</div>