<div id="adminInfo">
    <h1>User Comments List</h1><br>
<table class="table table-striped">

    <% 
            
    if (typeof list != 'undefined' && list != null && list.length > 0) { %>
  <tr id="tData"> 
  <th>User</th>
  <th>User Comment</th>  
  <th id="del">Delete</th>
  </tr>
          <%  list.forEach( function ( commentData ){
                    %>

            <tr>
                <td id="tData"><%= commentData.user %></td>
                <td id="tData"><%= commentData.comment %></td>
                
            <td id="tData">
            <div>
                <a href="/comment/delete/<%=commentData._id %>"><i class="fa fa-trash fa-lg" style="color:#f75063"
                data-toggle="tooltip" data-placement="bottom" title="Delete Comment"></i></a>
            </div>
            </td>                                                 
            </tr>  
            <%# delete modal %>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:black">Are you sure you want to delete?</h4>
                     </div>
            <div class="modal-body">
            <p style="color:black">This cannot be undone...</p>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
        
      </div>
    </div>
  </div>
</div>

<script> 
  function showDelete(){ 
   
    console.log("did i get here?");
  }
  </script>
            
<% });
} else { %>
            <tr><td colspan="3"> No Data </td></tr>
<% } %>


</table>
</div>
<div id="accBtn">
    <a href="/account" class="btn btn-info" >Back <i class="fas fa-backward"></i></a>
</div>

