<div id="adminPage">
    <h1><center>Welcome back...</center></h1>
    <h2><center>This is the 'Local Doings' Admin page for <%=postcode%></center></h2><hr>

<div id="adminList">
    <a href="/adminPostList" class="btn btn-success btn-md">User Posts <i class="fas fa-user"></i></a>
    <a href="/commentList" class="btn btn-success btn-md">User Comments <i class="fas fa-user"></i></a>
    <a href="/swapList" class="btn btn-success btn-md">User Swaps <i class="fas fa-user"></i></a>
    <a href="/messageList"  class="btn btn-success btn-md">Admin Messages <i class="fas fa-user"></i></a>
</div>    

</div> 