<h1><center>Create A New Conversation</center></h1><br>
<div id = accMessages>
    <%- include('../views/partials/successMessages.ejs') %>
    <%- include('../views/partials/errorMessages.ejs') %>
</div>
<hr>

<form action="/newpost" class="custom-form2" method="POST" autocomplete="off">
      
         <div class="form-group row">
        <div class="form-group">
            <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name="title" > 
        </div>
        <div class="form-group">
            <label for="content">Content</label>
                <textarea type="text" class="form-control" rows="6" placeholder="Description" id="content" name="content"></textarea>
    </div>
       
    <div class="form-group">
        <button type="submit" class="btn btn-success" style="margin-right:10px">Add <i class="fa fa-plus"></i>        
        </button>
        <a href="/messageboard" class="btn btn-info">Cancel <i class="fas fa-window-close"></i></a>
        </div>
    </div>                           
</div>
</form>