<script>
    $(document).ready(function(){
            $("#deleteModal").modal('show');
        });
</script>


<form id="modal">
    <%# delete modal %>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" style="color:black">Are you sure you want to delete?</h4>
                         </div>
                <div class="modal-body">
                <p style="color:black">This cannot be undone...</p>
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            
          </div>
        </div>
      </div>
    </div> <%# modal end %>
    </form>
    