
<div>
  <img alt="logo" class="logo" src="/images/ld-logo.png">
<div class="jumbotron custom2-bg-dark">
<h1 class="display-4-custom">Welcome</h1>
<p class="lead">'Local Doings' is the place to keep in touch with people in your community. The place to advertise local events or exchange unwanted items with neighbours. 
  Or just somewhere to catch up on the local gossip. 'Local Doings' has something for everyone, young and old.</p>


<div class="index-buttons">
  
  <a href="/login" class="btn btn-success btn-md" style="margin-right:10px"><i class="fas fa-user"></i> Login</a>
  <a href="/postcodeCheck" class="btn btn-info btn-md"><i class="fas fa-user-plus"></i> Register</a>
  
  
</div>

</div>

</div>
