<h1>This chat page exists, because it can...Welcome</h1>
<div id="left">
    
</div> 
<div id="middle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisi a nunc molestie varius id non augue. Maecenas ut dolor aliquam erat finibus facilisis. Aenean non ligula lectus. Morbi augue ex, ornare sit amet sapien eu, varius malesuada nunc. Mauris eu metus eu leo fringilla placerat. Sed eros enim, sodales id tincidunt quis, pellentesque in diam. Duis vitae lacus auctor, gravida ipsum in, placerat odio. Vivamus interdum sed odio lobortis aliquet.

   c consectetur lacus accumsan sed. Nulla facilisi. Ut dolor magna, cursus scelerisque sapien eget, tempor viverra diam.
</div> 
<div id="right">

</div> 