<script>
  $(document).ready(function(req, res){
        var username = "<%= name %>";
        socket.emit('username', username); 
      });
  </script>

<div class="chat-container">
  <header class="chat-header">
   
    <h1>Welcome <%= name %> </h1>
  </header>
  <main class="chat-main">
      <input type="hidden" name="name" id="name" value="<%= name %>">
    <div class="chat-sidebar">
     
      <h3><i class="fas fa-users"></i> Connected</h3>
      <ul>
        <% connected.forEach(function(user){ %>
        <li><%= user %></li>
      <%});%>
   </ul>
   
    
  </div>
    <div class="chat-messages" id="messages">
        
    </div>
  </main>
  
  <div class="chat-form-container">
    <form action="/" method="POST" id="chatForm">
    <!-- <form id="chat-form"> -->
      
      <!-- <input  id="msg" type="text" placeholder="Enter Message" required autocomplete="off"/> -->
      <textarea id="txt" autocomplete="off" autofocus="on"  placeholder="type your message here..."  rows="3" cols="60" style="color: black"></textarea>
      <div id=chatBtns>
      <button class="btn btn-success btn-md" style="margin-left:10px" id="chatBtn"> Send <i class="fas fa-paper-plane"></i></button>
      <a href="/localChat/endchat" class="btn btn-info" style="margin-left:10px" id="chatBtn"> Leave Chat <i class="fas fa-comment-slash"></i></a>
    </div>
    </form>
    
  </div>
</div> 

<script>
/* $('#chatForm').on( 'change keyup keydown paste cut', 'textarea', function (){
    $(this).height(0).height(this.scrollHeight);
}).find( 'textarea' ).change(); */
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chatter.js"></script>