
<form class="custom-form" action="/postcodeCheck" method="POST">
    <h1><center>Postcode Check</center></h1><br>
  <div class="form-group">
  <label for="postcode">Enter Postcode</label>
  <input type="text" 
  class="form-control" 
  id="postcode"
  name="postcode"
  placeholder="Enter Your Postcode" />
  
  </div>
  <div>
  
    <button type="submit" class="btn btn-success btn-md" style="margin-right:10px">Login</button>
    <a href="/" class="btn btn-info">Cancel</a>
    
    </div>
    <%- include('../views/partials/errorMessages.ejs') %>
  </form>
  