
<form class="custom-form" action="/postcodeCheck" method="POST">
    <h1><center>Postcode Check</center></h1><br>
  <div class="form-group">
  <label for="postcode">Enter Postcode</label>
  <input type="text" onkeyup="this.value=this.value.toUpperCase()"
  class="form-control" 
  id="postcode"
  name="postcode"
  placeholder="Enter Your Postcode" />
  
  </div>
  <div>
  
    <button type="submit" class="btn btn-success btn-md" style="margin-right:10px">Check</button>
    <a href="/" class="btn btn-info">Cancel</a>
    
    </div>
    <p class="lead mt-4">Already Have An Account? <a href="/login" style="color: #15C7FF">Login</a>
     
      <%- include('../views/partials/userMessages.ejs') %>
    
    </form>
    

  
  