<h1></h1>
<div class="catagories">
    <h2>Catagories</h2><br>
    
    <div id="cats">
    <a href = "/household">Household</a>
    </div><br> 
        <div id="cats">
        <a href = '/garden'>Garden</a><br>
        </div><br>       
            <div id="cats">
            <a href = '/kids'>Kids</a><br>
            </div><br>
                <div id="cats">
                <a href = '/diy'>DIY</a><br>
                </div><br>
                  <div id="cats">
                    <a href = '/pets'>Pets</a><br>
                    </div><br>
                    <div id="cats">
                    <a href = '/misc'>Misc</a><br>
                    </div><br> 
                    <div id="cats">
                    <a href = '/swapshop'>Show All</a><br>
                    </div><br> 
</div> <%# end cats%>



<div id="items">
    <h1>Sell, Donate or Buy</h1>
    <a href="/createSwap" class="btn btn-info">Add New Item <i class="fas fa-window-close"></i></a>
    <div id = "itemList">
            
        <% 
      
        if (typeof swaps != 'undefined' && swaps.length > 0) { 
            
            var srNo = 0;
                swaps.forEach( function  ( swap ){            
                    srNo = srNo + 1; %>                    
                   
<div>
    <div id="stuff">
       <h3> <%= swap.title %></h3>        
       <hr> 
        <img id="photo" src="data:image/<%=swap.img.contentType%>;base64, <%=swap.img.data.toString('base64')%>"> <br><br> 

<div id="link"> 
     <a href="/item/detail/<%= swap._id %>" style="color: #15C7FF">Details</a>
</div> 

<script> 
  function showItem(item){

    
    
    $("#itemModal").modal();
    console.log(item);
  }
  </script>
<%# Modal %>
<div class="modal fade" id="itemModal" role="dialog">
    <div class="modal-dialog">
    
      <%# Modal content %>
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="color:black" name="title" value="" id="header"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
         
          <p style="color:black">Stuff in the middle</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> <%# modal end %>
  
</div> <%# end stuff %> 

</div> 
      <% });      
      } else {  %>
      <div><h1> No Items Available </h1></div>
      <% } %>

</div>  <%# end itemlist %>    
      
</div> <%# end items %>

      