<h1></h1>
<div class="categories">
    <h2>Catagories</h2><br>
    
    <div id="cats">
    <a href = "/household">Household</a>
    </div><br> 
        <div id="cats">
        <a href = '/garden'>Garden</a><br>
        </div><br>       
            <div id="cats">
            <a href = '/kids'>Kids</a><br>
            </div><br>
                <div id="cats">
                <a href = '/diy'>DIY</a><br>
                </div><br>
                  <div id="cats">
                    <a href = '/pets'>Pets</a><br>
                    </div><br>
                    <div id="cats">
                    <a href = '/misc'>Misc</a><br>
                    </div><br> 
                    <div id="cats">
                    <a href = '/swapshop'>Show All</a><br>
                    </div><br> 
</div> <%# end cats%>



<div id="items">
  <h1>Sell, Donate or Buy</h1><hr>
  <a href="/createSwap" class="btn btn-info">Add New Item <i class="fas fa-shopping-basket"></i></a><br><br>
    <div id = "itemList">
            
        <% 
      
        if (typeof swaps != 'undefined' && swaps.length > 0) { 
            
            var srNo = 0;
                swaps.forEach( function  ( swap ){            
                    srNo = srNo + 1; %>                    
                   

    <div id="stuff">
       <h3><%= swap.title %></h3>        
       <hr> 
        <img id="photo" src="data:image/<%=swap.img.contentType%>;base64, <%=swap.img.data.toString('base64')%>"> <br><br> 

    <div id="details"> 
      <a href="/item/detail/<%= swap._id %>" style="color: #15C7FF">Details...</a>
    </div> 
  
</div> <%# end stuff %> 


      <% });      
      } else {  %>
      <div><h1> No Items Available </h1></div>
      <% } %>

</div>  <%# end itemlist %>    
      
</div> <%# end items %>

      