

<h1>Message List</h1><br>

<div id="userInfo">
   
<table class="table table-striped">

    <% 
            
    if (typeof list != 'undefined' && list != null && list.length > 0) { %>
<tr id="del">
  <th>Subject</th>
  <th>Message</th>
  <th>From</th>
  <th>Reply</th>
  
</tr>
            <%  list.forEach( function ( data ){
                    %>

            <tr>
                <td id="tData"><%= data.title %></td>
                <td id="tData"><%= data.message %></td>
                <td id="del"><%= data.sender %></td> 
                
                <td id="tData">
                    <div id ="editDelete">
                            <a href="contactUser"><i class="fas fa-reply" style="color:#14b7eb"
                                data-toggle="tooltip" data-placement="bottom" title="Reply"></i></a>
                    
                    
                          
</div>
                        </td>          
                                        
            </tr>  
            
<% });
} else { %>
            <tr><td colspan="3"> No Data </td></tr>
<% } %>


</table>
</div>
<div id="accBtn">
    <a href="/account" class="btn btn-info" >Back <i class="fas fa-window-close"></i></a>
</div>