<h1>Post List</h1>

<div id="userPosts">
<table class="table table-hover">
    
    <% 
    if (typeof list != 'undefined' && list != null && list.length > 0) {
     
            list.forEach( function ( postData ){
                    %>

            <tr>
                <td id="tData"><%= postData.title %></td>
                <td id="tData"><%= postData.content %></td> 
                <td id="tData">
                    <div id ="editDelete">
                            <a href="/comment/edit/<%=postData._id %>"><i class="fa fa-pencil-square-o fa-lg" style="color:#14b7eb"
                                data-toggle="tooltip" data-placement="bottom" title="Edit Comment"></i></a>
                    
                    
                            <a href="/comment/delete/<%=postData._id %>"><i class="fa fa-trash fa-lg" style="color:#f75063"
                                data-toggle="tooltip" data-placement="bottom" title="Delete Comment"></i></a>
</div>
                        </td>          
                                        
            </tr>  
            
<% });
} else { %>
            <tr><td colspan="3"> No Data </td></tr>
<% } %>

</div>
</table>
<a href="/account" class="btn btn-info">Back <i class="fas fa-window-close"></i></a>