#chat{
    width: 1000px;
    height: 600px;
    background-color: #415975;
    margin-left: auto;
    margin-right: auto;
}

#right {   
    background-color: #415975;
}
/* page layouts */

#left { 
    float:left;  
    background:Red; 
    width:25%; 
    height:280px; 
} 
#middle{ 
    float:left;  
    background:Green; 
    width:50%; 
    height:100%; 
   /*  margin-left: 25%; */
} 
#right{ 
    float:right; 
    background:blue; 
    width:25%; 
    height:280px; 
} 

h1{ 
    text-align:center; 
} 

