.postDetail {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
   
}
#accBtn {
    width:900px;
    margin-left: auto;
    margin-right: auto;
}
#chat{
    width: 1000px;
    height: 600px;
    background: #415975;
    margin-left: auto;
    margin-right: auto;
}



#coms {
     background-color: #eefaff;  
    color: black;
    width: auto;
    border-radius: 5px ;
    padding: 10px 10px 10px 10px;
    width: 800px;
   margin-left: 0;
   margin-right: auto;
   margin-top: 20px;
   word-wrap: break-word;
   font-size: large;
}

/* #coms:nth-child(odd) {
    background: #defff7;
     margin-left: 0px; 
}
#coms:nth-child(even) {
    background: #FFF7DE;
    margin-right: 0px;
} */
.newComment {
    color: black;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  /*  position: fixed;
   bottom: 50px; */
   /* text-align: center;  */
  /*  padding-top: 20px; */

}
 #comment {
    color: black;
    width: 400px;
    margin-left: auto;
   margin-right: auto;

 }
/* #send{
    color: black;
    
} */

.size {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

#poster{
    color:blue;
    font-style: italic;
    font-size: small;
}

#created{
    color: yellow;
    font-style: italic;
    
}


.comments{
    overflow-y:auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
   /*  overflow: hidden; */
    max-height: 450px;
    width: 900px;
    margin-left: auto;
   margin-right: auto;
    /* overflow-y: scroll; */
    /* scroll-snap-align: end;*/
    
  
} 
/* .comments > div > div:last-child {
    scroll-snap-align: end;
  } */
hr {
    background-color: gray; height: 1px; border: 0;
}


 td a { 
    display: block; 
    /* border: 1px solid black; */
    padding: 10px;
    font-size: large; 
 }

 #tData {
     color: white;
     text-align: center;
     text-decoration: none;
 }

 a {
    text-decoration: none;
 }

 #editDelete {
     float: right;
    
 }

/*  #postSize{

 height: 50px;
 overflow: auto;
 } */

 #userInfo {
     max-height: 600px;
     width: 900px;
     margin-left: auto;
     margin-right: auto;
     overflow: auto;
     
 }
 