.postDetail {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
   
}
#accBtn {
    width:900px;
    margin-left: auto;
    margin-right: auto;
}
#chat{
    width: 1000px;
    height: 600px;
    background: #415975;
    margin-left: auto;
    margin-right: auto;
}



#coms {
    background-color: #eefaff;  
    color: black;
    width: auto;
    border-radius: 5px ;
    padding: 10px 10px 10px 10px;
    width: 800px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 20px;
    word-wrap: break-word;
    font-size: large;
}

.newComment {
    color: black;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  /*  position: fixed;
   bottom: 50px; */
   /* text-align: center;  */
  /*  padding-top: 20px; */

}
 #comment {
    color: black;
    width: 400px;
    margin-left: auto;
   margin-right: auto;

 }

.size {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

#poster{
    color:blue;
    font-style: italic;
    font-size: small;
}

#created{
    color: yellow;
    font-style: italic;
    
}


.comments{
    overflow-y:auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
   /*  overflow: hidden; */
    max-height: 450px;
    width: 900px;
    margin-left: auto;
   margin-right: auto;
    /* overflow-y: scroll; */
    /* scroll-snap-align: end;*/
    
  
} 

hr {
    background-color: gray; height: 1px; border: 0;
}


 td a { 
    display: block; 
    padding: 10px;
    font-size: large; 
 }

 #tData {
     color: white;
     width:auto;
     /* text-align: center; */
     text-decoration: none;
 }

 #tData a, #del{
    
      text-align: center; 
    
 }
 #aTData {
     color: white;
     width:auto;
     /* text-align: center; */
     text-decoration: none;
 }

 a {
    text-decoration: none;
 }

  #centerData a{
    margin-left: auto;
    margin-right: auto;
    
 } 

 #userInfo {
     max-height: 600px;
     width: 900px;
     margin-left: auto;
     margin-right: auto;
     overflow: auto;
     
 }

 #adminInfo {
     max-height: 600px;
     width: 900px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     overflow: auto;   
 }

 #adminInfo a {
    margin-left: auto;
    margin-right: auto;
 }

 form.custom-form2{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 100px; */
    margin-bottom: auto;
}

#swapTable {
    table-layout: fixed
}

#modalInfo{
    margin-left: 28px;
}

.modal-title {
    color: black;
}

.modal-footer {
    color: black;
}

.bootbox-body {
    color: black;
}