.sidebar {
    height: 94.8%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #415975;/* #2F4054; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
   
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: white;/* #818181; */
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: black;/*  #f1f1f1; */
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
   /*  color:#fd4935; */
  }
  
  .openbtn {
    font-size: 22px;
    cursor: pointer;
    background-color:#2F4054; /*#15C7FF;*//*  #111;*/
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 40px;
    border-radius: 15px;
    
  }
  
  .openbtn:hover {
    background-color: #15C7FF;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, height is less than 450px, change style of sidenav  */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
